/**/dist/**/*.css diff=buildartifacts
/**/dist/*.css diff=buildartifacts
/**/dist/**/*.js diff=buildartifacts
/**/dist/**/*.js.map diff=buildartifacts
/**/dist/**/*.js.map diff=buildartifacts
/**/dist/assets/**/* diff=buildartifacts
